*checkpoints
notebook/*checkpoints*
notebook/*Untitled*
scripts/kent_scripts/
data/
Upgrade_MC/
effective_areas_Ali.txt
models/
scripts/optical_novae/
scripts/mprofile*
notebook/.ipynb_checkpoints/
scripts/*.pyc
scripts/stacking_sens_res/
source_list/galnovae/
*__pycache__*
